*
  margin: 0
  padding: 0

html
  font-size: 8px

body
  font-family: 'Roboto', sans-serif

a
  text-decoration: none

.center
  padding: 0 16px

.top
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%)
  min-height: 376px
  &__content
    text-align: center
  &__h1
    font-size: 4rem
    color: #1F3F68
    margin-bottom: 2rem
  &__button
    font-size: 12px
    line-height: 26px
    color: #FFFFFF
    background: #5A98D0
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
    border-radius: 10px
    padding: 0 10px
    margin-top: 32px
    display: inline-block

.text
  font-size: 16px
  line-height: 26px
  text-align: center
  letter-spacing: 0.05em
  color: #1F3F68
  opacity: 0.6

.header
  display: flex
  justify-content: space-between
  align-items: center
  height: 48px
  padding: 16px 0
  #switch
    visibility: hidden
    position: absolute
    left: -999999px
    &:checked ~ nav
      right: 0
      transition: all 0.4s
      z-index: 1
  .nav
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    right: 100%
    background-color: #008DCD
    .menu
      height: 100vh
      display: flex
      list-style-type: none
      flex-direction: column
      align-items: center
      justify-content: center
      &__link
        font-size: 24px
        display: block
        color: #f7f7f8
        text-decoration: none
        text-transform: uppercase
        padding: 16px 32px
  .close
    position: absolute
    right: 16px
    top: 16px
  .open
    font-size: 20px
    color: #356EAD
.fa-window-close
  width: 16px
  height: 16px

.what
  margin-top: 48px

.heading
  font-size: 24px
  line-height: 28px
  text-align: center
  &-mini
    font-size: 20px
    line-height: 30px
    letter-spacing: 0.05em
    color: #1F3F68
    padding-top: 47px


.card-box
  margin-top: 32px
  display: flex
  flex-direction: column
  align-items: center

.card
  width: 335px
  padding: 40px 29px 21px
  box-sizing: border-box
  display: flex
  flex-direction: column
  background: #FFFFFF
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2)
  border-radius: 10px
  margin-bottom: 32px
  .text
    text-align: left
    padding-top: 15px
  &__img
    align-self: center
    margin-bottom: 48px
    &_bg
      align-self: center
      width: 220px
      height: 160px
      background-image: url("img/Group 15.png"), url("img/Group.png")
      background-repeat: no-repeat
      background-position: center
  &__link
    font-size: 14px
    line-height: 30px
    letter-spacing: 0.05em
    color: #5A98D0
    padding-top: 46px
    display: flex
    align-items: center


.fas
  padding-left: 15px

.project
  display: flex
  flex-direction: column
  align-items: center
  &__text
    padding-top: 32px
    font-size: 16px
    line-height: 26px
    text-align: center
    letter-spacing: 0.05em
  &__content
    display: flex
    flex-direction: column
    &_card-one
      border-radius: 10px
      margin-top: 82px
      width: 343px
      height: 144.42px
      background-image: url("img/Group_1.png"), url("img/Rectangle.png"), url("img/alberto-castillo-q-mx4mSkK9zeo-unsplash.png")
      background-repeat: no-repeat
      background-size: contain
      display: flex
      justify-content: flex-end
    &_card-two
      border-radius: 10px
      margin-top: 17px
      width: 343px
      height: 255px
      background-image: url("img/Mask Group.png")
      background-repeat: no-repeat
      background-size: contain
    &_card-three
      border-radius: 10px
      margin-top: 17px
      width: 343px
      height: 262px
      background-image: url("img/Mask Group_2.png")
      background-repeat: no-repeat
      background-size: contain
    &_text
      font-size: 16px
      line-height: 19px
      color: #FFFFFF
      padding: 16px
      &_main
        font-size: 16px
        line-height: 19px
        text-align: right
        color: #FFFFFF
        padding: 16px



.footer
  margin-top: 64px
  display: flex
  flex-direction: column
  align-items: center
  background: #316099
  &__text
    font-size: 24px
    line-height: 28px
    text-align: center
    color: #FFFFFF
    padding-top: 18px
    &_p
      font-size: 16px
      line-height: 26px
      text-align: center
      letter-spacing: 0.05em
      color: #FFFFFF
      opacity: 0.6
      padding-top: 32px
      padding-bottom: 40px
  &__button
    font-size: 16px
    line-height: 26px
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 0.04em
    color: #FFFFFF
    background: #5A98D0
    padding: 0 10px
    width: 108.23px
    height: 31.48px
  &__line
    opacity: 0.4
    border: 1px solid #FFFFFF
    width: 100%
    margin-top: 41px
  &__list
    list-style-type: decimal
    font-size: 16px
    line-height: 26px
    letter-spacing: 0.05em
    color: #FFFFFF
    margin-left: 16px
  &__link
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.05em
    color: #FFFFFF
    margin-left: 23px
    display: flex
    margin-bottom: 17px
  &__position
    margin-top: 32px
    width: 100%
    display: flex
    &_top
      &_one
        align-items: center
        display: flex
        flex-direction: column
  &__bottom
    font-size: 16px
    line-height: 26px
    text-align: center
    letter-spacing: 0.05em
    color: #FFFFFF
    opacity: 0.4
    margin-top: 10px
    margin-bottom: 32px


@media (min-width: 576px)
  .center
    padding: 0 calc(50% - 270px)
@import "m768"
@import "m992"
@import "m1140"
@import "contact"